body{
    margin:0;
    padding:0;
    font-family:"baloo tamma 2", bold;
    background:rgb(211, 203, 203);
}
.navigation {
    background-color: darkblue;

}

.navigation-link {
    text-decoration:rgb(249, 251, 152);
    font-size:17px;
    padding:17px 13px;
    transition:color 0.2s ease;
}

.navigation-link:hover {
    color:darkred !important;
}

.text-white {
    color:white
}
.text-success {
    color:darkgray!important;
}
h4.text-white {
    font-weight:600;
    letter-spacing:3px;

}

.fa-code{
    margin-right:10px;
}
@media (max-width:768px) {
    .navigation-link {
        font-size:12px;
        padding:8px 10px;
    }
    .col-6 {
        padding:10px;
    }
}

.navigation-link:hover {
    text-decoration:none;
    opacity:0.9;
}

.container.navigation {
    padding-top:14px;
    padding-bottom:14px
}